.featured{
display: flex;
}
.dataColumns{
    display: grid;
    grid-template-columns:repeat(3,1fr)
}
.featuredItem{
   
    margin: 10px 10px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
  
}

.featuredTempHumid{
    display: flex;
    flex-direction: column;
}

.weatherContentAlign{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.featuredMoneyContainer{
    font-size: 30px;
    margin: 10px 0px;
    display: flex;
    padding: 5px;
    align-items: center;
}

.featuredMoney{
    font-size: 30px;
    font-weight: 600;
}

.featuredMoneyRate{
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.featuredIcon{
padding: 5px;
font-size: 50px;
color: red;
}

.SunLogo{
    height: 80px;

}

.featuredTitle{
    font-size: 25px;
    font-weight: 600;
    
}

.windAndRain{
    display: flex;
   align-items: center;
}